.download_cv,
.project_btn {
  outline: none;
  padding: 1.25rem 3rem;
  border: .2rem $dark solid;
  background: darken($color: $primary, $amount: 5%);
  font-size: 1.5rem;
  color: $dark;
  font-weight: bold;
  border-radius: 1rem;
  transition: all ease .3s;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: $grey;
    border: .2rem $primary solid;
    color: $white;
  }
}