#contact {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-flow: column nowrap;

  .contact_data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;

    .info_block {
      padding: 3rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      i {
        color: $primary;
        font-size: 4rem;
        margin-bottom: 2rem;
        height: 20%;
      }

      h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 2rem;
        opacity: 0.7;
        transition: all ease 0.3s;

        &:hover {
          transform: translate3d(0, 3px, 0);
        }

        a {
          cursor: pointer;
          text-decoration: none;
          color: $light;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  .options {
    display: flex;
    justify-content: center;
    perspective: 500px;
  }
}