@mixin centeredContentFlex($direction: row, $justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
}

@mixin navbarPadding {
  padding: 0rem 2.5rem;
}