#work {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .work_container {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    .project {
      width: 80vw;
      padding: 2rem;
      .image {
        img {
          width: 30%;
        }
      }
    }
  }
}
