#work {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: stretch;

  button.direction {
    @include centeredContentFlex(row);
    position: absolute;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 2rem;
    outline: none;
    border: none;
    color: $dark;
    background: #f4f4f4;
    transition: all ease .5s;

    &:hover {
      color: $primary;
    }

    &.left {
      left: 0;
      bottom: 45%;

      &:hover {
        transform: translate3d(-5px, 0, 0);
      }
    }

    &.right {
      right: 0;
      bottom: 45%;

      &:hover {
        transform: translate3d(5px, 0, 0);
      }
    }

    i {
      font-size: 2rem;
    }
  }

  .work_container {
    @include centeredContentFlex(row);
    flex: 1;
    overflow: hidden;
    padding: 4rem;

    .project {
      flex: 0 0 100%;
      padding: 5rem;
      border-radius: 15px;
      display: flex;

      .description {
        flex: 0 0 60%;
        padding: 0 2rem;

        * {
          margin-bottom: 2rem;
        }

        h3 {
          font-size: 3rem;
        }

        p {
          font-size: 2rem;
        }

        .tech {
          @include centeredContentFlex(row);
          justify-content: flex-start;

          i {
            flex: 0 0 10%;
            font-size: 3rem;
          }
        }

        .repo {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
        }
      }

      .image {
        @include centeredContentFlex(row);
        flex: 1;
        padding: 0 2rem;

        img {
          width: 100%;
          border-radius: 10px;
          box-shadow: 0 0 20px $dark;
        }
      }
    }
  }
}


// Large screens
@media screen and (max-width: 1200px) {
  #work {

    .work_container {

      .project {
        .description {
          flex: 1;

          h3 {
            font-size: 2rem;
          }

          p {
            font-size: 1.5rem;
          }

          .tech {
            display: none;
          }

          .project_btn {
            font-size: 1.25rem;
          }
        }

        .image {
          display: none;
        }
      }

    }
  }
}

// Medium screens
@media screen and (max-width: 992px) {
  #work {

    button.direction {
      display: none;
    }

    .work_container {
      overflow-x: auto;

      .project {
        padding: 1rem;

        .description {
          padding: 0;
        }
      }
    }
  }
}

// Mobile screens
@media screen and (max-width: 768px) {}