// Font import
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --animate-duration: 1000ms;
  // --animate-delay: 5s;
}

// Colors
$primary: #fec576;
$light: #cfcfcf;
$white: #fff;
$dark: #0f0f0f;
$black: #000;
$grey: #1e1e1e;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.text-primary {
  color: $primary;
}

@import './structure';
@import './home';
@import './skills';
@import './work';
@import './contact';
@import './components';