@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), color-stop(80%, #fff));
  background: linear-gradient(to top, #cfcfcf 0%, #fff 80%);
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: #242e31;
}

html .navbar,
body .navbar {
  padding: 0 5rem;
  grid-area: navbar;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .navbar .logo,
body .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 1rem;
}

html .navbar .logo:hover,
body .navbar .logo:hover {
  -webkit-transform: translate3d(0, 0.5rem, 0);
          transform: translate3d(0, 0.5rem, 0);
}

html .navbar .logo .image img,
body .navbar .logo .image img {
  border-radius: 50%;
  border: 2px solid #242e31;
  width: 4rem;
  height: 4rem;
}

html .navbar .logo .name,
body .navbar .logo .name {
  padding: 0.5rem;
}

html .navbar .logo .name h5,
body .navbar .logo .name h5 {
  font-size: 1rem;
}

html .navbar .logo .name p,
body .navbar .logo .name p {
  font-size: 0.9rem;
  opacity: 0.8;
}

html .content,
body .content {
  grid-area: content;
  max-height: 88vh;
  scroll-behavior: smooth;
  overflow-y: auto;
}

html .content section,
body .content section {
  min-height: 88vh;
  padding: 5rem;
}

html .content section#home,
body .content section#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .content section#home .profile,
body .content section#home .profile {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .content section#home .profile h2,
body .content section#home .profile h2 {
  font-size: 3.5rem;
  opacity: 0.7;
}

html .content section#home .profile h1,
body .content section#home .profile h1 {
  font-size: 4.5rem;
}

html .content section#home .profile .links,
body .content section#home .profile .links {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

html .content section#home .profile .links a,
body .content section#home .profile .links a {
  color: #242e31;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

html .content section#home .profile .links a:hover,
body .content section#home .profile .links a:hover {
  color: #288eda;
  -webkit-transform: translate3d(0, 0.25rem, 0);
          transform: translate3d(0, 0.25rem, 0);
  opacity: 0.8;
}

html .content section#home .menu,
body .content section#home .menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
}

html .content section#home .menu li,
body .content section#home .menu li {
  width: 100%;
}

html .content section#home .menu li:hover a,
body .content section#home .menu li:hover a {
  -webkit-transform: translate3d(-2rem, 0, 0);
          transform: translate3d(-2rem, 0, 0);
  border-right: 5px solid #242e31;
}

html .content section#home .menu li.active a,
body .content section#home .menu li.active a {
  -webkit-transform: translate3d(-4rem, 0, 0);
          transform: translate3d(-4rem, 0, 0);
  border-right: 5px solid #242e31;
}

html .content section#home .menu li a,
body .content section#home .menu li a {
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #242e31;
  font-weight: bolder;
  font-size: 3rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

html .content section#skills,
body .content section#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .content section#skills .skills_container,
body .content section#skills .skills_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1.5rem;
}

html .content section#skills .skills_container span,
body .content section#skills .skills_container span {
  font-size: 1.5rem;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

html .content section#skills .skills_container span i,
body .content section#skills .skills_container span i {
  margin-right: 0.5rem;
}

html .content section#skills .skills_container span:hover,
body .content section#skills .skills_container span:hover {
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

html .content section#work .work_container,
body .content section#work .work_container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .content section#work .work_container .project,
body .content section#work .work_container .project {
  height: 40vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0;
  -webkit-perspective: 500px;
          perspective: 500px;
}

html .content section#work .work_container .project .description,
body .content section#work .work_container .project .description {
  border-radius: 20px;
  padding: 1.5rem 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-shadow: 0 2px 16px rgba(36, 46, 49, 0.3);
          box-shadow: 0 2px 16px rgba(36, 46, 49, 0.3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease 0.45s;
  transition: all ease 0.45s;
}

html .content section#work .work_container .project .description:hover,
body .content section#work .work_container .project .description:hover {
  -webkit-transform: translate3d(0, 0, 20px);
          transform: translate3d(0, 0, 20px);
}

html .content section#work .work_container .project .description .tech,
body .content section#work .work_container .project .description .tech {
  margin: 1rem 0;
}

html .content section#work .work_container .project .description .tech i,
body .content section#work .work_container .project .description .tech i {
  font-size: 2.5rem;
}

html .content section#work .work_container .project .description .repo,
body .content section#work .work_container .project .description .repo {
  -webkit-perspective: 500px;
          perspective: 500px;
}

html .content section#work .work_container .project .description .repo a,
body .content section#work .work_container .project .description .repo a {
  text-decoration: none;
  color: #288eda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

html .content section#work .work_container .project .description .repo a i,
body .content section#work .work_container .project .description .repo a i {
  margin-left: 0.25rem;
}

html .content section#work .work_container .project .description .repo a:hover,
body .content section#work .work_container .project .description .repo a:hover {
  -webkit-transform: translate3d(0, 0, 10px);
          transform: translate3d(0, 0, 10px);
}

html .content section#work .work_container .project .image,
body .content section#work .work_container .project .image {
  border-radius: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-perspective: 500px;
          perspective: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .content section#work .work_container .project .image img,
body .content section#work .work_container .project .image img {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  height: 80%;
}

html .content section#work .work_container .project:nth-child(even) .image img,
body .content section#work .work_container .project:nth-child(even) .image img {
  -webkit-box-shadow: 40px 30px 20px rgba(36, 46, 49, 0.3);
          box-shadow: 40px 30px 20px rgba(36, 46, 49, 0.3);
  -webkit-transform: rotate3d(0, 1, 0, -8deg) translate3d(-3rem, 0, 0);
          transform: rotate3d(0, 1, 0, -8deg) translate3d(-3rem, 0, 0);
}

html .content section#work .work_container .project:nth-child(odd) .image img,
body .content section#work .work_container .project:nth-child(odd) .image img {
  -webkit-box-shadow: -40px 30px 20px rgba(36, 46, 49, 0.3);
          box-shadow: -40px 30px 20px rgba(36, 46, 49, 0.3);
  -webkit-transform: rotate3d(0, 1, 0, 8deg) translate3d(3rem, 0, 0);
          transform: rotate3d(0, 1, 0, 8deg) translate3d(3rem, 0, 0);
}

html .content section#work .work_container .project:nth-child(even) .description,
body .content section#work .work_container .project:nth-child(even) .description {
  text-align: left;
}

html .content section#work .work_container .project:nth-child(even) .description .tech i,
body .content section#work .work_container .project:nth-child(even) .description .tech i {
  margin: 0 1rem 0 0;
}

html .content section#work .work_container .project:nth-child(even) .description .repo a,
body .content section#work .work_container .project:nth-child(even) .description .repo a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

html .content section#work .work_container .project:nth-child(even) img,
body .content section#work .work_container .project:nth-child(even) img {
  margin-left: auto;
}

html .content section#work .work_container .project:nth-child(odd) .description,
body .content section#work .work_container .project:nth-child(odd) .description {
  text-align: right;
}

html .content section#work .work_container .project:nth-child(odd) .description .tech i,
body .content section#work .work_container .project:nth-child(odd) .description .tech i {
  margin: 0 0 0 1rem;
}

html .content section#work .work_container .project:nth-child(odd) .description .repo a,
body .content section#work .work_container .project:nth-child(odd) .description .repo a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html .content section#work .work_container .project:nth-child(odd) img,
body .content section#work .work_container .project:nth-child(odd) img {
  margin-right: auto;
}

html .content section#contact,
body .content section#contact {
  padding: 10rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

html .content section#contact .social,
body .content section#contact .social {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

html .content section#contact .social h2,
body .content section#contact .social h2 {
  font-size: 4rem;
}

html .content section#contact .social .social_list,
body .content section#contact .social .social_list {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

html .content section#contact .social .social_list a,
body .content section#contact .social .social_list a {
  color: #242e31;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 1rem;
  border-radius: 20%;
}

html .content section#contact .social .social_list a:hover,
body .content section#contact .social .social_list a:hover {
  color: #ca1e00;
  opacity: 0.8;
  -webkit-transform: translate3d(0, 0.25rem, 0);
          transform: translate3d(0, 0.25rem, 0);
}

html .content section#contact .contact_data,
body .content section#contact .contact_data {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html .content section#contact .contact_data .info-block,
body .content section#contact .contact_data .info-block {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html .content section#contact .contact_data .info-block i,
body .content section#contact .contact_data .info-block i {
  width: 5rem;
}

html .content section#contact .contact_data .info-block address,
html .content section#contact .contact_data .info-block span,
body .content section#contact .contact_data .info-block address,
body .content section#contact .contact_data .info-block span {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
}

html .content section#contact .contact_data h2,
body .content section#contact .contact_data h2 {
  font-size: 5rem;
}
/*# sourceMappingURL=desktop.css.map */