@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$white: #fff;
$light: #e4e4e4;
$gray: #555;
$dark: #242e31;
$black: #333;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, $white 20%, $light 80%);
  // background: $white;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar" "content";
  color: $dark;
  .navbar {
    padding: 0 5rem;
    grid-area: navbar;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.5s ease;
      padding: 1rem;
      &:hover {
        transform: translate3d(0, 0.5rem, 0);
        background-color: $light;
      }
      .image {
        img {
          border-radius: 50%;
          border: 2px solid $dark;
          width: 4rem;
          height: 4rem;
        }
      }
      .name {
        padding: 0.5rem;
        h5 {
          font-size: 1rem;
        }
        p {
          font-size: 0.9rem;
          opacity: 0.8;
        }
      }
    }

    .menu {
      height: 100%;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      li {
        height: 100%;
        display: flex;
        align-items: center;
        a {
          width: 8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          padding: 0.5rem 1rem;
          color: $dark;
          font-weight: bolder;
          border-bottom: 2px solid $white;
          transition: all 0.3s ease;
          &:hover {
            transform: translate3d(0, 0.25rem, 0);
          }
          &:hover,
          &.active {
            border-bottom: 2px solid $dark;
          }
        }
      }
    }
  }
  .content {
    grid-area: content;
    max-height: 88vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow: hidden;
    section {
      height: 88vh;
      padding: 5rem;
      &#home {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        h2 {
          font-size: 3.5rem;
          opacity: 0.7;
        }
        h1 {
          font-size: 4.5rem;
        }
        .links {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 10%;
          a {
            color: $dark;
            transition: all 0.4s ease;
            &:hover {
              transform: translate3d(0, 0.25rem, 0);
              opacity: 0.8;
            }
          }
        }
      }
      &#work {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(auto-fill, 70vh);
        justify-content: center;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        overflow: auto;
        .project {
          height: 70vh;
          padding: 1.5rem;
          box-shadow: 0 2px 16px rgba($color: $dark, $alpha: 0.3);
          display: flex;
          flex-flow: column nowrap;
          transition: all 0.3s ease;
          // justify-content: center;
          align-items: center;
          margin: 2rem 0;
          img {
            width: 100%;
            height: 30%;
          }

          &:hover {
            opacity: 0.8;
            transform: translate3d(0, 1rem, 0);
          }
        }
      }
      &#contact {
        padding: 10rem 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        .social {
          height: 100%;
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          h2 {
            font-size: 4rem;
          }
          .social_list {
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
            width: 100%;
            a {
              color: $dark;
              transition: all 0.3s ease;
              cursor: pointer;
              padding: 1rem;
              border-radius: 20%;
              &:hover {
                opacity: 0.8;
                transform: translate3d(0, 0.25rem, 0);
              }
            }
          }
        }
        .contact_data {
          height: 100%;
          width: 60%;
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-end;
          .info-block {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            i {
              width: 5rem;
            }
            address,
            span {
              font-weight: bold;
              font-size: 1.5rem;
              margin-right: 1rem;
            }
          }
          h2 {
            font-size: 5rem;
          }
        }
      }
    }
  }
}
